	<ul>
	{section name=product loop=$productListing}
		<li><a href="product.php?id={$productListing[product][0]}">{$productListing[product][1]}</a></li>
	{/section}</ul>

	<h2>Product Search</h2>
	<form name="productSearch" method="GET" action="search.php">
		<input name="q" value="">
		<input type="submit" value="Search"></form>
