H1 {
	font-family: arial, sans-serif;
	font-size: 36px;
	letter-spacing: 1px;
	border-bottom: solid 1px #000;
}

H2 {
	font-family: arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	border-bottom: dotted 1px #000;
}

.file .name {
	display: block;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: arial, sans-serif;
	color: black;
}

.file .details {
	font-size:    12px;
	font-style: italic;
}

.file P {
	margin: 4px 2px;
	border: 2px solid #EEE;
	background-color: #FFF;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	line-height: 18px;
}

.file {
	margin-bottom: 24px;
	padding: 2px 4px 2px 10px;
	border: 1px solid #DDD;
	border-bottom: 2px solid #555;
	border-right: 2px solid #555;
}