	<form name="filters" action="fileCatalog.php" method="GET">
		<input type="hidden" name="id" value="{$smarty.get.id}">
		<h2>Download Category</h2>
		{html_options options=$categories name='category'}
		<h2>Operating System</h2>
		{html_options options=$osList name='os'}
		<h2>Language</h2>
		{html_options options=$langList name='lang'}
		<div class="controlPanel"><input type="submit" value="proceed"></div>
	</form>