<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>SPECweb2005: Check Detail</title>
  </head>
  <body bgcolor="white">
  <table  width="100%">
  <tr valign="middle">
  <td width="200" bgcolor="#f0f0f0">
    Welcome {$userid}!
    {include file="menu.tpl"}
  <td>
    <center>
      <form method="get" action="check_detail_html.php">
        <table cellpadding=3>
          <tr>
            <td>Check Number:</td>
            <td><input type="text" name="check_no"></td>
        </table>
        <input type="submit" value="Submit">
      </form>
    </center>
  </table>
  </body>
</html>
