    <h2>Configuration options for {$smarty.get.i}:</h2>
    <form action="customize.php?{$smarty.server.QUERY_STRING}" method="POST">
        {foreach key=category item=item from=$configchoices}
        <h3>{$category} configuration options</h3>
        {section name=id loop=$item}
        <input type="radio" name="{$category}" value="{$item[id].id}"{if $item[id].selected} checked{/if}> {$item[id].name} [{$item[id].price} {$item[id].currency}]<br />
        {/section}
        {/foreach}
        <input type="submit" name="customize_submit" value="Update">
        {if $smarty.session.page eq 3}
        <input type="submit" name="customize_submit" value="AddtoCart">
        {else}
        <input type="submit" name="customize_submit" value="Continue">
        {/if}<br />
        Total price: {$total_price} {$currency}
    </form>
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
