    <form action="cart.php?c={$smarty.get.c}&s={$smarty.get.s}" method="POST">
        <table id="cart">
            <tr>
                <th>Item</th>
                <th>Customizations</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th></tr>
            {foreach from=$smarty.session.cart item=item key=id}
            <tr>
                <td>{$id}</td>
                <td>{foreach from=$smarty.session.$id item=selection key=type}{$type}: {$selection}<br />{/foreach}</td>
                <td><input type="text" name="{$id|escape}" value="{$item}" size=4></td>
                <td>${$smarty.session.price.$id}</td>
                <td>${$smarty.session.total_price.$id}</td></tr>
            {/foreach}
            <tr>
                <td id="totalLabel" colspan=4>Total:</td>
                <td>${$total_price}</td></tr>
            <tr>
                <td colspan="5" class="buttonPanel"><input type="submit" name="cart_submit" value="Update"> <input type="submit" name="cart_submit" value="SaveCart"> <input type="submit" name="cart_submit" value="checkout"></td></tr>
        </table>
    </form>
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
