    <h3>Existing users sign in here</h3>
    <form action="login.php?{$smarty.server.QUERY_STRING}" method="POST">
        <table>
            <tr>
                <td>E-mail</td>
                <td><input type="text" name="email"></td></tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td></tr>
            <tr> 
                <td colspan="2" class="buttonPanel"><input type="submit" name="login_submit" value="Login"></td></tr>
        </table>
    </form>
    
    <h3>New Users sign up here</h3>
    <form action="login.php?{$smarty.server.QUERY_STRING}" method="POST">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname" value="{$smarty.post.fname}"></td></tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname" value="{$smarty.post.lname}"></td></tr>
            <tr>
                <td>E-mail</td>
                <td><input type="text" name="email" value="{$smarty.post.email}"></td></tr>       
            <tr>
                <td>Confirm E-mail</td>
                <td><input type="text" name="email2" value="{$smarty.post.email2}"></td></tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td></tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="password2"></td></tr>
            <tr> 
                <td colspan="2" class="buttonPanel"><input type="submit" name="register_submit" value="Register"></tr>
        </table>
    </form>
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
